<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <%- include('./utils/links.ejs') %>
        <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <nav id="main-navbar">
        <div>
            <a href="/incluirDatos">Incluir Datos</a>
            <a href="/completados">Ver completados</a>
            <a href="/notas">Notas</a>
        </div>
    </nav>

    <div id="main-page">
        <% allTasks.forEach((i)=>{ %>
            <div class="container">
                <div id="row d-flex">
                    <div class="card mt-4 col-6">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center" id="nombre-card-asignatura">
                                <p>
                                    <%= i.asignatura %>
                                </p>
                                <a href="/eliminarTask/<%= i.id %>" class="btn" id="trash-button">
                                    <i class="col bi bi-trash-fill"></i> Eliminar
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= i.nombre %>
                            </h5>
                            <p class="card-text">
                                <%= i.descripcion %>
                            </p>
                            <hr>
                            <p class="card-text">
                                Tiempo dedicado:
                                <%= i.tiempo %> horas
                            </p>
                            <p class="card-text" id="fecha">
                                Fecha creacion:
                                <%= i.createdAt %>
                            </p>
                            <form action="/completarTask/<%= i.id %>" method="POST">
                                <button type="submit" class="btn" id="completado-button">Completado</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <% }) %>
    </div>
    <script>
        const date = document.querySelector("#fecha")
        date.innerText = date.innerText.replace("GMT+0000 (hora estándar de Europa occidental)", "")
    </script>

    <!-- Prueba de Chart.js -->

</body>

</html>