<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <%- include('./utils/links.ejs') %>

</head>

<body>
    <a href="/incluirDatos">Incluir Datos</a>
    <a href="/completados">Ver completados</a>
    <a href="/notas">Notas</a>

    <% allTasks.forEach((i)=>{ %>
        <div class="container">
            <div class="card mt-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <%= i.asignatura %>
                            <a href="/eliminarTask/<%= i.id %>" class="btn btn-outline-danger">
                                <i class="col bi bi-trash-fill"></i> Eliminar
                            </a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= i.nombre %>
                    </h5>
                    <p class="card-text">
                        <%= i.descripcion %>
                    </p>
                    <hr>
                    <p class="card-text">
                        Tiempo dedicado:
                        <%= i.tiempo %> horas
                    </p>
                    <p class="card-text" id="fecha">
                        Fecha:
                        <%= i.createdAt %>
                    </p>
                    <form action="/completarTask/<%= i.id %>" method="POST">
                        <button type="submit" class="btn btn-primary">Completado</button>
                    </form>
                </div>
            </div>
        </div>
        <% }) %>
            <script>
                const date = document.querySelector("#fecha")
                date.innerText = date.innerText.replace("GMT+0000 (hora estándar de Europa occidental)", "")
            </script>
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
</body>

</html>